.NoFocusIndicator * {
  outline: none;
}

.NoLinkUnderline a {
  text-decoration: none;
}

.NoLinkUnderline a:hover {
  text-decoration: underline;
}

.Button,
.FakeButton,
a.ButtonLikeLink {
  display: inline-block;
  min-width: 5rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  text-decoration: none;
  padding: 0 1rem;
  border-radius: 1.5rem;
  border: 0;
  background: #fff;
  color: #323232;
  border: 1px solid #d7d2d2;
  text-align: center;
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
  cursor: pointer;
}

.Button:hover,
.FakeButton:hover,
a.ButtonLikeLink:hover {
  color: #2864f0;
  border-color: #2864f0;
  background-color: #ebf3ff;
}

.FakeLink {
  color: #285ac8;
  transition-duration: 0.3s;
  transition-property: color;
  text-decoration: underline;
  cursor: pointer;
}
.FakeLink:hover {
  color: #2864f0;
}

.IconButton,
.FakeIconButton {
  display: inline-block;
  width: 5rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: 0;
  background: #fff;
  color: #323232;
  border: 1px solid #d7d2d2;
  text-align: center;
  transition-property: background-color, border-color, color;
  transition-duration: 0.3s;
  cursor: pointer;
  padding: 0.5rem 0;
}

.IconButton:hover,
.FakeIconButton:hover {
  color: #2864f0;
  border-color: #2864f0;
  background-color: #ebf3ff;
}

.IconButton__icon,
.FakeIconButton__icon {
  vertical-align: middle;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

.FakeIconButton + .FakeIconButton,
.IconButton + .IconButton {
  margin-left: 0.5rem;
}

.FormLabel {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.FormItem {
  display: block;
}

.FormItem + .FormItem {
  margin-top: 1rem;
}

.FormItem fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.TextField {
  background: #fff;
  border: 1px solid #8c8989;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  height: 3rem;
  width: 20rem;
  font-size: 1rem;
  max-width: 100%;
}

.RadioButton,
.CheckBox {
  display: inline-block;
  margin-right: 1rem;
}

.RadioButton input[type='radio'],
.CheckBox input[type='checkbox'] {
  margin-right: 0.5rem;
}

.TelField input {
  background: #fff;
  border: 1px solid #8c8989;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  height: 3rem;
  width: 4rem;
  font-size: 1rem;
}

p.FormAnnotation {
  font-size: 0.875rem;
  color: #6e6b6b;
  margin: 0;
}

* + p.FormAnnotation {
  margin-top: 0.25rem;
}
