.header {
  padding: 1rem 4rem;
  background: #2864f0;
}

.headerTitle {
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  margin: 0;
}

.main {
  padding: 2rem 4rem 0;
  max-width: 60rem;
}

.footer {
  padding: 4rem 4rem 1rem;
  box-sizing: border-box;
}

.footer p {
  color: #6e6b6b;
  font-size: 0.75rem;
  margin: 0;
}
.footer p + p {
  margin-top: 0.5rem;
}

.footer a {
  color: #6e6b6b;
  transition-duration: 0.3s;
  transition-property: color;
}
.footer a:hover {
  color: #23418c;
}

@media screen and (max-width: 48rem) {
  .header {
    padding: 0.5rem 1rem;
  }

  .headerTitle {
    display: block;
    font-size: 1.2rem;
  }

  .headerWord + .headerWord {
    margin: 0;
  }

  .main {
    padding: 1rem 1rem 0;
  }
}
